@font-face {
    font-family: "Exodar";
    src: url("../Assets/Fonts/Exodar-Outline.ttf");
}

@font-face {
    font-family: "Dune";
    src: url("../Assets/Fonts/Dune_Rise.otf");
}

@font-face {
    font-family: "Genos";
    src: url("../Assets/Fonts/Genos-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Mars";
    src: url("../Assets/Fonts/Mars\ Bold.otf");
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: "Genos";
    /* overflow: hidden; */
}

/* Global styles */
body > div{
    position: absolute;
}

.error{
    height: 3rem;
    width: 80%;
    margin: 0 auto;
    top: 20px;
    left: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 0 30px;
    z-index: 100;
    box-sizing: border-box;
    border-radius: 15px;
    transition: all 0.5s ease;
    background: white;
    transform: translateY(-100vh);
}

.error.active{
    transform: translate(0);
}

.error .close{
    position: absolute;
    right: 30px;
    top: 15px;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 5px;
}

.hidden{
    opacity: 0;
    display: none;
    z-index: -1;
}

table, tr, td{
    border: 1px solid;
}

table tr, td{
    position: relative;
}

td > span{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.load-page, .start-page, .main-page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease;
    overflow: hidden;
}

/* Load Page Styles */
.load-page h2{
    font-size: 3.5rem;
    font-family: "Mars";
    text-transform: uppercase;
    opacity: 0;
    animation: slide 2s ease 2s both;
}

@keyframes slide {
    from{
        opacity: 0;
        transform: translateY(50px);
    }to{
        opacity: 1;
        transform: translate(0);
    }
}

.load-page h2, .load-page p{
    text-align: center;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main p{
    margin-top: 4px;
    font-size: 1.4rem;
}

.main p:first-of-type{
    margin-bottom: 0;
}

.btn-wrapper button{
    position: relative;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    margin-bottom: 5rem;
}

/* .btn-wrapper button::before{
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: red;
} */
/* .lheader{

} */

/* Start-Page styles */

h1{
    font-size: 3.5rem;
    margin-bottom: 0;
    font-family: "Dune";
    text-transform: uppercase;
}

input[name="name"]{
    height: 3rem;
    width: 10rem;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
}

.place p{
    font-size: 1.3rem;
    text-align: center;
    margin: 5px 0;
}

table{
    margin: 0 auto;
    width: 350px;
    height: 350px;
}

.ship{
    pointer-events: none;
    transition: all 1.3s ease;
}

.deploy{
    margin: 10px 0;
}

@keyframes up{
    50%{
        opacity: 0;
    }
}

.levitate{
    transition: all 2s ease;
    transform: translateY(-1500px);
    animation: up 1.5s linear;
}

table.first{
    width: 300px;
    height: 300px;
}

p.tip{
    font-size: 1rem;
}

/* Main page Styles */

.mheader{
    height: 10vh;
    width: 100%;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hits p{
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    font-family: "Mars";
}

.settings{
    position: absolute;
    left: 40px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all .5s ease;
}

.settings.shade{
    opacity: 0.7;
}

.inner{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    transition: all 2s ease;
    opacity: 0;
}

.inner.active{
    opacity: 1;
}

.deck{
    height: 3rem;
    width: 60%;
    border: 1px solid;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}


.main-page{
    overflow-x: hidden;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.5);
}

.overlay.active{
    display: block;
    opacity: 1;
}


.txt{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 45vh;
    width: 80%;
    height: 10%;
    scale: 3;
    opacity: 0;
    text-align: center;
    border: 2px solid red;
    transition: all 2s ease;
}

.txt.active{
    scale: 1;
    opacity: 1;
}

.txt p{
    padding: 15px;
    margin: 0;
}

.cls{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: -50%;
}

.cls i{
    font-size: 1.5rem;
}

.txt button{
    display: block;
    padding: 0.7rem;
    margin: 0 auto;
    margin-top: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    opacity: 0;
    transition: all 1s ease;
}

.ovl{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);
    transition: all 1s ease;
    transform: translateX(100vw);
}

.ovl.active{
    transform: translate(0);
}

.info{
    position: absolute;
    width: 75%;
    height: 60%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    transition: all 1s ease;
    transform: translateX(100vw);
}

.info.active{
    transform: translate(0);
}

.info > div{
    height: 100%;
    width: 50%;
    border: 1px solid blue;
}

.text{
    position: relative;
    display: flex;
}

.main-text{
    height: 35%;
    width: 100%;
    border: 3px solid red;
    border-radius: 15px;
    padding: 10px;
    overflow: scroll;
    scrollbar-width: none;
}

.main-text p{
    color: white;
    font-size: 1rem;
    white-space: pre-line;
}

.grid{
    width: 100%;
}

.show{
    opacity: 1;
}

.waters{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.waters h2{
    text-align: center;
}

.disabled{
    pointer-events: none;
}

td span{
    width: 50%;
    height: 50%;
    z-index: 10;
    background: black;
    border-radius: 50%;
    position: absolute;
}

span.hit{
    background: red;
}


/* Button styles */
.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper#start{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(100vh);
}

.wrapper#start.active{
    opacity: 1;
    transform: translate(0);
}


.cta {
    display: flex;
    padding: 0 5px;
    text-decoration: none;
    align-items: center;
    font-family: 'Exodar';
    font-size: 1.5rem;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

/* .cta span:nth-child(1){
    font-size: ;
} */

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 15px;
}

.wrapper span {
    transform: skewX(15deg) 
  }

.wrapper span:nth-child(2) {
    width: 20px;
    margin-left: 10px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


/* footer styles */
.footer{
    margin-top: 2rem;
    text-align: center;
}

.footer p{
    margin-top: 2px;
}
